* {
    padding: 0;
    margin:0;
    border:none;
    outline: none;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    color:#fff;
    background-color: #78284a;
}

.clearfix{
    clear:both;
}

#container {
    width: 330px;
    min-height: 400px;
    background-color: #333;
    overflow:auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow:0 10px 8px -8px #333;
}

#audio-image {
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 15px;
}

#audio-image .cover {
    width:100%;
}

#audio-info {
    text-align: center;
}

#audio-info .artist {
    font-weight:bold;
}

input#volume {
    width:95%;
    margin-left: 2%;
    -webkit-appearance:none!important;
    background-color: #ccc;
    height: 1px;
    margin-bottom: 20px;
}

input#volume::-webkit-slider-thumb {
    -webkit-appearance:none!important;
    background: url(../images/knob.png) no-repeat;
    width:12px;
    height: 12px;
}

#buttons {
    width:90%;
    display: block;
    margin: 15px auto;
    margin-left: 23px;
    overflow:auto;
}

button#play {
    width:70px;
    height:70px;
    background: url(../images/play.png) no-repeat;
    float: left;
    margin-left: -2px;
}

button#pause {
    width:70px;
    height:70px;
    background: url(../images/pause.png) no-repeat;
    float: left;
    margin-left: -2px;

}

button#stop {
    width:70px;
    height:70px;
    background: url(../images/stop.png) no-repeat;
    float: left;
    margin-left: 3px;
}

button#prev {
    width:70px;
    height:70px;
    background: url(../images/prev.png) no-repeat;
    float: left;
    margin-top: 15px;
}

button#next {
    width:70px;
    height:70px;
    background: url(../images/next.png) no-repeat;
    float: right;
    margin-top: 15px;
}

#tracker {
    position: relative;
    width:100%;
}

#progress-bar {
    width: 80%;
    margin-left:2%;
    margin-bottom: 20px;
    margin-top:9px;
    background: url(../images/progress_bg.png) no-repeat;
    height:10px;
    float: left;
    position: relative;
}

#progress {
    background:url(../images/progress.png) no-repeat;
    height:10px;
    display: inline-block;
    position: absolute;
    top:0;
    left:0;

}

#duration {
    position: absolute;
    top:0;
    right:10px;
    padding: 4px 8px;
    background-color: #000;
    border-radius: 5px;
}

#playlist {
    list-style: none;
}

#playlist li {
    margin:5px;
    cursor: pointer;
}

#playlist li.active {
    font-weight: bold;
    padding: 3px;
    background: #666;
}